<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="row jumbo">
            <div class="col-4">
                <img src="/images/logoECESS.png" alt="logo">
            </div>
            <div class="col-8">
                <div class="container">
                    <h1 class="display-4" style="font-weight: 400;">ECESS</h1>
                    <p class="lead">Electronic & communication Engineering Student socity</p>
                </div>
            </div>
        </div>
    </div>

    {{!-- navbar from bootstrap start --}}
    {{>navbar}}
    {{!-- navbar from bootstrap end --}}



    {{!-- home section start --}}
    <div class="cover" id="home">
        <welcome> Welcome&nbsp;<span>Guest.</span></welcome>
        <welcome> Welcome To&nbsp;<span>ECESS.</span></welcome>
    </div>
    {{!-- home section end --}}



    <div class="main" id="event">

        {{!-- events section start --}}
        {{>events}}
        {{!-- events section end --}}


        {{!-- Message section start --}}
        {{>messege}}
        {{!-- Message section end --}}


        {{!-- Galary section start --}}
        {{>gallery}}
        {{!-- Galary section end --}}


        {{!-- Our Team section start --}}
        {{>members}}
        {{!-- Our Team section end --}}
    </div>


    {{!-- Footer section start --}}
    {{>footer}}
    {{!-- Footer section end --}}



    <script src="https://kit.fontawesome.com/54392b258b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    {{!-- swapped bootstrap version 4 with version 5 --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
