<footer>
    <div class="ftr">
        <span>Created by <a href="#">Aditya</a> | <span class="far fa-copyright"></span> 2021 All rights
            Reserved</span>
           <h5 style="padding-top: 1.5rem;">Follow Us</h5>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/aditya101rxl" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="https://www.instagram.com/_aadiraj_/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100009102873401" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
    </div>
</footer>