{{!-- <div id="team" style=" display: block; margin-top: -45px; height: 70px;"></div>
<h1 class="title">Our Team</h1> --}}
<div class="row container-fluid">
      <h2 style="font-weight: bold; color:var(--text-color); padding-bottom:2rem;"> OUR TEAM</h2>
      <div class="col-lg-3 mb-4" >
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

       <h4 style="font-weight="bold";">Designation</h4>
         <p>Name Intro</p> 
        <div class="social-icons">
           
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->
     

      <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4 style=" font-weight="bold";">Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
           
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4 style=" font-weight="bold";">Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
           
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4 style=" font-weight="bold";">Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
           
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4 style="color: white; font-weight="bold";">Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
            
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4 style=" font-weight="bold";">Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
            
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4 style=" font-weight="bold";">Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
           
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4 style="font-weight="bold";">Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
            
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fab fa-facebook facebook"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 -->

      {{!-- <div class="col-lg-3 mb-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h4>Designation</h4>
        <p>Name Intro</p>
        <div class="social-icons">
           
            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
        </div>
      </div><!-- /.col-lg-4 --> --}}

      
    </div>