<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    {{!-- navbar from bootstrap --}}
    <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #f0ed58;">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Galary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NITAP(official)</a>
                </li>
            </ul>
        </div>
    </nav>


    {{!-- home section start --}}

    <div class="cover">
        <h1>
            Here will be some stuffs
        </h1>
    </div>

    {{!-- home section end --}}



    {{!-- events section start --}}

    {{!-- our code goes here for event section --}}

    {{!-- events section end --}}


    {{!-- Message section start --}}

    {{!-- our code goes here for Message section --}}

    {{!-- Message section end --}}


    {{!-- Our Team section start --}}

    {{!-- our code goes here for Our Team section --}}

    {{!-- Our Team section end --}}


    {{!-- Galary section start --}}

    {{!-- our code goes here for Galary section --}}

    {{!-- Galary section end --}}



    {{!-- Footer section start --}}

    {{!-- our code goes here for Footer section --}}

    {{!-- Footer section end --}}


    <h1>
        Now we start
    </h1>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>