* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* root font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* root font ends */


/* root colors */

:root {
    --primary: #b467fd;
    --secondary: #C4B5FD;
    --dark-grey: #6B7280;
    --light-grey: #D1D5DB;
    --text-color: #334155;
}


/* root colors ends */


/* styling for title class */

body .title {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color)
}


/* styling for title class ends */


/* navbar styling */

nav .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


/* navbar styling ends */


/* message card styling */

.card {
    background-color: var(--secondary);
    color: var(--text-color);
    border-radius: 0.5rem;
}


/* message card styling ends */


/* our team styling  */

.container-fluid {
    padding: 15px;
    background-color: var(--secondary);
    margin: 2rem;
    border-radius: 0.5rem;
}


/* our team styling ends */


/* gallery styling  */

.carousel {
    background-color: var(--secondary);
    padding: 15px;
    margin: 20px;
    border-radius: 0.5rem;
}


/* gallary styling ends */


/* utility class in css start*/

body {
    background-color: rgb(233, 236, 239);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.jumbo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-align: center; */
}

.jumbo img {
    height: 250px;
    display: block;
    margin-left: 64px;
    border-radius: 50%;
}

.head {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 190px;
    height: 5px;
    background: black;
    transform: translateX(-50%);
}

.title::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    color: crimson;
    background: white;
    transform: translateX(-50%);
}


/* utility class in css end*/


/* cover photo start*/

.cover {
    background-image: url(../images/c1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    transition: 6s;
    animation: animate 20s ease-in 3s infinite alternate-reverse forwards;
}

@keyframes animate {
    0% {
        background-image: url(../images/collegeLife.png);
    }
    25% {
        background-image: url(../images/c1.jpeg);
    }
    50% {
        background-image: url(../images/c2.jpeg);
    }
    75% {
        background-image: url(../images/c3.jpeg);
    }
    100% {
        background-image: url(../images/c4.jpeg);
    }
}

.main {
    padding-top: 25px;
    margin: auto;
    text-align: center;
    max-width: 90%;
    height: 100%;
}

welcome {
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 35px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(74, 173, 16);
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s infinite;
    border-right: 3px solid black;
}

@keyframes text {
    0% {
        width: 0ch;
    }
    50% {
        width: 16ch;
    }
}

welcome span {
    color: crimson;
}


/* cover photo end*/


/* event card styling */

.card-header {
    background-color: var(--secondary);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

.event h2 {
    background-color: var(--secondary);
}

.event .btn-link {
    text-decoration: none;
}


/* event card styling ends */


/* events section start*/

.event {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--primary);
    margin: 1% 5% 1% 5%;
    border-style: solid;
    border-width: 5px;
    border-radius: 0.5rem;
    border-color: var(--primary);
    color: var(--text-color);
    margin: 2rem;
}


/* events section end*/


/* messege section styling start */

.messege .respose {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.messege img {
    max-width: 350px;
}


/* messege section styling end */


/* media query for responsive design */

@media screen and (max-width: 700px) {
    .jumbo {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .jumbo img {
        height: 150px;
        display: block;
        margin-left: -30px;
    }
    .cover {
        height: 40vh;
    }
    .main {
        max-width: 100%;
    }
    welcome {
        margin-top: 20px;
        margin-bottom: -25px;
        margin-left: 25px;
        font-size: 30px;
        border-right: 2px solid black;
    }
    .card .row {
        height: 40px;
        font-size: 12px;
    }
    .head {
        font-size: 11px;
    }
    .messege .respose {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .messege img {
        max-width: auto;
        max-height: 250px;
    }
    .col-lg-3 {
        width: 50%;
    }
}


/* footer section styling starts*/

footer {
    background: var(--primary);
    height: 100%;
    width: 100%;
    padding: 5rem;
    font-weight: bold;
    margin-top: 3rem;
}

footer .ftr {
    display: block;
    /* height: 200px; */
    padding: 3px 3px;
    text-align: center;
    color: whitesmoke;
}

footer .ftr span a {
    color: crimson;
}

footer .social-icons .linkedIn {
    color: white;
}

footer .social-icons .instagram {
    color: white;
}

footer .social-icons .facebook {
    color: white;
}


/* footer section styling ends*/


/* social Icons designs start */

.social-icons {
    display: block;
}

.social-icons i {
    margin: 1px 5px;
    font-size: 30px;
}

.social-icons .linkedIn {
    color: white;
    transition: all 0.3s ease-out;
}

.social-icons .linkedIn:hover {
    color: white;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--dark-grey);
}

.social-icons .instagram {
    color: white;
    transition: all 0.3s ease-out;
}

.social-icons .instagram:hover {
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--dark-grey);
}

.social-icons .facebook {
    color: white;
    transition: all 0.3s ease-out;
}

.social-icons .facebook:hover {
    color: white;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--light-grey);
}


/* social Icons designs ends */


/* removed lining and color from social media links */

a {
    text-decoration: none;
}


/* removed lining and color from social media links */


/* fixed containers allignment */

.row {
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}


/* fixed containers allignment ends */


/* cover photo styling  */

.cover {
    margin: 0.3rem;
    border-radius: 0.5rem;
}


/* cover photo styling ends */